# Copy to docker-compose.override.yml for personal LocalStack settings.
services:
  localstack:
    environment:
      - DEBUG=1

      # - PERSISTENCE=0
      - IAM_SOFT_MODE=1

    # ports:
    #   - "8080:8080"
